.service-container { 
    width: 95%;
    margin: 0 auto;
    min-height: 20px;
    border: 0.5px solid gray;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 20px 5px;
    text-align: center;
    font-style: oblique;
    color:rgb(39, 126, 117);
    font-weight: 600;
}
